<app-header></app-header>

<div class="row">
  <div class="col-sm-12">
    <form (ngSubmit)="onSubmit()" #usuarioForm="ngForm">

       <!-- FORMULARIO DE INFORMACION GENERAL -->

       <div class="formulario-no-trabaja">
        <div class="titulo-esquina">
          DATOS GENERALES
        </div>


 <!-- Matricula -->
<fieldset class="form-group">
  <div class="col-sm-12">
    <label class="control-label" for="matricula">Matricula</label>
    <input 
      type="text" 
      class="form-control" 
      required 
      [(ngModel)]="usuario.matricula" 
      name="matricula" 
      #matricula="ngModel"
      [pattern]="patternMatricula"
      maxlength="8">
    
    <!-- Mensaje de error -->
    <div *ngIf="matricula.invalid && matricula.touched" class="text-danger">
      La Matricula No puede llevar letras. <br>
      La Matricula debe contener exactamente 8 números.
    </div>
  </div>
</fieldset>


<!-- Carrera -->
<fieldset class="form-group">
  <legend class="col-form-label">Carrera</legend>
  <div class="col-sm-12">
    <div *ngFor="let carrera of carreras" class="form-check">
      <input 
        type="radio" 
        class="form-check-input" 
        [value]="carrera" 
        [(ngModel)]="usuario.carrera" 
        name="carrera" 
        id="{{ carrera }}" 
        required>
      <label class="form-check-label" [for]="carrera">{{ carrera }}</label>
    </div>
  </div>

  <!-- Mensaje de error -->
  <div *ngIf="!usuario.carrera && usuarioForm.submitted" class="text-danger">
    La carrera es obligatoria.
  </div>
</fieldset>

    
<!-- Nombre Completo -->
<fieldset class="form-group">
  <div class="col-sm-12">
    <label class="control-label" for="nombre">Nombre Completo</label>
    <input 
      type="text" 
      class="form-control" 
      required 
      [(ngModel)]="usuario.nombre" 
      name="nombre" 
      (ngModelChange)="convertirAMayusculas()" 
      [ngModelOptions]="{standalone: true}"
      #nombre="ngModel" 
      pattern="^[a-zA-Z\s]*$">
  </div>

  <!-- Mensaje de error si contiene números -->
  <div *ngIf="nombre?.invalid && nombre?.touched" class="text-danger">
    El Nombre obligatorio.
  </div>

  <div *ngIf="nombre.errors?.['pattern'] && nombre.touched" class="text-danger">
    El nombre no puede contener números.
  </div>
</fieldset>




   <!-- Sexo -->
<fieldset class="form-group">
  <legend class="col-form-label">Sexo</legend>
  <div class="col-sm-12">
    <div class="form-check">
      <input 
        type="radio" 
        class="form-check-input" 
        [value]="'Masculino'" 
        [(ngModel)]="usuario.sexo" 
        name="sexo" 
        id="masculino" 
        required #sexo="ngModel">
      <label class="form-check-label" for="masculino">Masculino</label>
    </div>
    <div class="form-check">
      <input 
        type="radio" 
        class="form-check-input" 
        [value]="'Femenino'" 
        [(ngModel)]="usuario.sexo" 
        name="sexo" 
        id="femenino" 
        required #sexo="ngModel">
      <label class="form-check-label" for="femenino">Femenino</label>
    </div>
    <!-- Mensaje de error si no se selecciona una opción -->
    <div *ngIf="sexo?.invalid && sexo?.touched" class="text-danger">
      El sexo es obligatorio.
    </div>
  </div>
</fieldset>


<!-- Telefono Personal -->
<fieldset class="form-group">
  <div class="col-sm-12">
    <label class="control-label" for="telefono_personal">Telefono Personal</label>
    <input 
      type="tel" 
      class="form-control" 
      required 
      [(ngModel)]="usuario.telefono_personal" 
      name="telefono_personal" 
      #telefonoPersonal="ngModel" 
      pattern="^[0-9]{10}$" 
      maxlength="10" 
      minlength="10">
  </div>
  <!-- Mensaje de error para telefono -->
  <div *ngIf="telefonoPersonal?.invalid && telefonoPersonal?.touched" class="text-danger">
    El teléfono debe tener exactamente 10 dígitos numéricos.
    <br>
    El teléfono No puede contener letras.
  </div>
</fieldset>


<!-- Telefono Recados -->
<fieldset class="form-group">
  <div class="col-sm-12">
    <label class="control-label" for="telefono_recados">Telefono de Recados</label>
    <input 
      type="tel" 
      class="form-control" 
      [(ngModel)]="usuario.telefono_recados" 
      name="telefono_recados" 
      #telefonoRecados="ngModel" 
      pattern="^[0-9]{10}$" 
      maxlength="10" 
      minlength="10">
  </div>
  <!-- Mensaje de error para telefono recados -->
  <div *ngIf="telefonoRecados?.invalid && telefonoRecados?.touched" class="text-danger">
    El teléfono de recados debe tener exactamente 10 dígitos numéricos.
    <br>
    El teléfono No puede contener letras.
  </div>
</fieldset>

<!-- Correo Institucional -->
<fieldset class="form-group">
  <div class="col-sm-12">
    <label class="control-label" for="correo_institucional">Correo Institucional</label>
    <input 
      type="email" 
      class="form-control" 
      required 
      [(ngModel)]="usuario.correo_institucional" 
      name="correo_institucional" 
      #correoInstitucional="ngModel" 
      email>
  </div>
  <!-- Mensaje de error para correo institucional -->
  <div *ngIf="correoInstitucional?.invalid && correoInstitucional?.touched" class="text-danger">
    El correo institucional es obligatorio y debe ser válido.
  </div>
</fieldset>

<!-- Correo Personal -->
<fieldset class="form-group">
  <div class="col-sm-12">
    <label class="control-label" for="correo_personal">Correo Personal</label>
    <input 
      type="email" 
      class="form-control" 
      [(ngModel)]="usuario.correo_personal" 
      name="correo_personal" 
      #correoPersonal="ngModel" 
      email>
  </div>
  <!-- Mensaje de error para correo personal -->
  <div *ngIf="correoPersonal?.invalid && correoPersonal?.touched" class="text-danger">
    Si ingresas un correo personal, debe ser válido.
  </div>
</fieldset>



<!-- Estatus Laboral -->
<fieldset class="form-group">
  <legend class="col-form-label">Estatus Laboral</legend>
  <div class="col-sm-12">
    <!-- Iterar sobre las opciones -->
    <div class="form-check" *ngFor="let opcion of opcionesEstatus">
      <input 
        type="radio" 
        class="form-check-input" 
        [value]="opcion" 
        [(ngModel)]="usuario.estatus_laboral" 
        name="estatus_laboral" 
        id="{{ opcion }}"
        required>
      <label class="form-check-label" [for]="opcion">{{ opcion }}</label>
    </div>
  </div>

  <!-- Mensaje de error si no se selecciona una opción -->
  <div *ngIf="!usuario.estatus_laboral && usuarioForm.submitted" class="text-danger">
    El estatus laboral es obligatorio.
  </div>
</fieldset>


<!-- Estudiando -->
<fieldset class="form-group">
  <legend class="col-form-label">¿Estás Estudiando?</legend>
  <div class="col-sm-12">
    <div class="form-check">
      <input 
        type="radio" 
        class="form-check-input" 
        [value]="'Si'" 
        [(ngModel)]="usuario.estudiando" 
        name="estudiando" 
        id="estudiando_si" 
        required #estudiando="ngModel">
      <label class="form-check-label" for="estudiando_si">Sí</label>
    </div>
    <div class="form-check">
      <input 
        type="radio" 
        class="form-check-input" 
        [value]="'No'" 
        [(ngModel)]="usuario.estudiando" 
        name="estudiando" 
        id="estudiando_no" 
        required #estudiando="ngModel">
      <label class="form-check-label" for="estudiando_no">No</label>
    </div>
  </div>
  <!-- Mensaje de error para el campo estudiando -->
  <div *ngIf="estudiando?.invalid && estudiando?.touched" class="text-danger">
    Debes seleccionar si estás estudiando o no.
  </div>
</fieldset>

</div>

       <!-- TERMINA FORMULARIO DE INFORMACION GENERAL -->















 <!-- FORMULARIO DE NO TRABAJA -->

 <div class="formulario-no-trabaja">
  <div class="titulo-esquina">
    FORMULARIO NO TRABAJA
  </div>


  <!-- ¿TIENES CONOCIMIENTO DE QUE EXISTE UNA BOLSA DE TRABAJO DE LA UTHH? -->
<fieldset class="form-group">
  <legend class="col-form-label">¿Tienes conocimiento de que existe una bolsa de trabajo de la UTHH?</legend>
  <div class="col-sm-12">
    <div class="form-check">
      <input 
        type="radio" 
        class="form-check-input" 
        [value]="'Si'" 
        [(ngModel)]="usuario.conoce_bolsa_trabajo" 
        name="conoce_bolsa_trabajo" 
        id="conoce_bolsa_si" 
        required #conoce_bolsa_trabajo="ngModel">
      <label class="form-check-label" for="conoce_bolsa_si">Si</label>
    </div>
    <div class="form-check">
      <input 
        type="radio" 
        class="form-check-input" 
        [value]="'No'" 
        [(ngModel)]="usuario.conoce_bolsa_trabajo" 
        name="conoce_bolsa_trabajo" 
        id="conoce_bolsa_no" 
        required>
      <label class="form-check-label" for="conoce_bolsa_no">No</label>
    </div>
    <div *ngIf="conoce_bolsa_trabajo?.invalid && conoce_bolsa_trabajo?.touched" class="text-danger">
      La pregunta es obligatorio.
    </div>
  </div>
</fieldset>

<!-- ¿HAS UTILIZADO LA BOLSA DE TRABAJO DE LA UTHH? -->
<fieldset class="form-group">
  <legend class="col-form-label">¿Has utilizado la bolsa de trabajo de la UTHH?</legend>
  <div class="col-sm-12">
    <div class="form-check">
      <input 
        type="radio" 
        class="form-check-input" 
        [value]="'Si'" 
        [(ngModel)]="usuario.utiliza_bolsa_trabajo" 
        name="utiliza_bolsa_trabajo" 
        id="utiliza_bolsa_si" 
        required #utiliza_bolsa_trabajo="ngModel">
      <label class="form-check-label" for="utiliza_bolsa_si">Si</label>
    </div>
    <div class="form-check">
      <input 
        type="radio" 
        class="form-check-input" 
        [value]="'No'" 
        [(ngModel)]="usuario.utiliza_bolsa_trabajo" 
        name="utiliza_bolsa_trabajo" 
        id="utiliza_bolsa_no" 
        required>
      <label class="form-check-label" for="utiliza_bolsa_no">No</label>
    </div>
    <div *ngIf="utiliza_bolsa_trabajo?.invalid && utiliza_bolsa_trabajo?.touched" class="text-danger">
      La pregunta es obligatorio.
    </div>
  </div>
</fieldset>

<!-- EN CASO DE HABER UTILIZADO LA BOLSA DE 
 TRABAJO DE LA UTHH ¿CÓMO CONSIDERAS EL SERVICIO PRESTADO? -->
<fieldset class="form-group">
  <legend class="col-form-label">EN CASO DE HABER UTILIZADO LA BOLSA DE TRABAJO DE LA UTHH ¿CÓMO CONSIDERAS EL SERVICIO PRESTADO?</legend>
  <div class="col-sm-12">
    <div *ngFor="let opciones_calidad_servicio of opciones_calidad_servicio" class="form-check">
      <input 
        type="radio" 
        class="form-check-input" 
        [value]="opciones_calidad_servicio" 
        [(ngModel)]="usuario.calidad_servicio" 
        name="calidad_servicio" 
        id="{{ opciones_calidad_servicio }}" 
        required>
      <label class="form-check-label" [for]="opciones_calidad_servicio">{{ opciones_calidad_servicio }}</label>
    </div>
  </div>

  <!-- Mensaje de error -->
  <div *ngIf="!usuario.calidad_servicio && usuarioForm.submitted" class="text-danger">
    La pregunta es obligatoria.
  </div>
</fieldset>


<!--¿CÓMO  CONSIDERAS QUE TE HAS CAPACITADO  DESPUÉS DE QUE 
EGRESASTE, CON LA FINALIDAD DE ACTUALIZAR TUS CONOCIMIENTOS, 
HABILIDADES Y DESTREZAS, CONSIDERANDO LAS INNOVACIONES TECNOLÓGICAS 
Y NECESIDADES DEL CONTEXTO DE TÚ ESPECIALIDAD? -->
 <fieldset class="form-group">
  <legend class="col-form-label">¿CÓMO  CONSIDERAS QUE TE HAS CAPACITADO  
    DESPUÉS DE QUE EGRESASTE, CON LA FINALIDAD DE ACTUALIZAR TUS 
    CONOCIMIENTOS, HABILIDADES Y DESTREZAS, CONSIDERANDO LAS INNOVACIONES 
    TECNOLÓGICAS Y NECESIDADES DEL CONTEXTO DE TÚ ESPECIALIDAD?</legend>
  <div class="col-sm-12">
    <div *ngFor="let opciones_capacitacion_postegreso of opciones_capacitacion_postegreso" class="form-check">
      <input 
        type="radio" 
        class="form-check-input" 
        [value]="opciones_capacitacion_postegreso" 
        [(ngModel)]="usuario.capacitacion_postegreso" 
        name="capacitacion_postegreso" 
        id="{{ opciones_capacitacion_postegreso }}" 
        required>
      <label class="form-check-label" [for]="opciones_capacitacion_postegreso">{{ opciones_capacitacion_postegreso }}</label>
    </div>
  </div>

  <!-- Mensaje de error -->
  <div *ngIf="!usuario.capacitacion_postegreso && usuarioForm.submitted" class="text-danger">
    La pregunta es obligatoria.
  </div>
</fieldset>


<!-- ¿QUE SUGERENCIA LE HARÍAS AL PERSONAL DIRECTIVO Y DOCENTE DEL PROGRAMA EDUCATIVO PARA 
 MEJORAR LA CALIDAD DE FORMACIÓN Y TENER MAYOR ÉXITO EN EL EJERCICIO PROFESIONAL? -->
<fieldset class="form-group">
  <div class="col-sm-12">
    <label class="control-label" for="sugerencias">¿QUE SUGERENCIA LE HARÍAS AL PERSONAL DIRECTIVO Y DOCENTE DEL PROGRAMA EDUCATIVO PARA MEJORAR LA CALIDAD DE FORMACIÓN Y TENER MAYOR ÉXITO EN EL EJERCICIO PROFESIONAL?</label>
    <input 
      type="text" 
      class="form-control" 
      required 
      [(ngModel)]="usuario.sugerencias" 
      name="sugerencias" 
      (ngModelChange)="convertirAMayusculas()" 
      [ngModelOptions]="{standalone: true}"
      #nombre="ngModel" 
      pattern="^[a-zA-Z\s\1-9]*$">
  </div>
</fieldset>


</div>
   <!-- TERMINA FORMULARIO DE NO TRABAJA -->

 












      <!-- FORMULARIO DE SI TRABAJA -->
      <div class="formulario-no-trabaja">
        <div class="titulo-esquina">
          FORMULARIO SI TRABAJA
        </div>

<!-- MEDIO POR EL CUAL TE COLOCASTE EN TU TRABAJO
 -->
 <fieldset class="form-group">
  <legend class="col-form-label">MEDIO POR EL CUAL TE COLOCASTE EN TU TRABAJO</legend>
  <div class="col-sm-12">
    <div *ngFor="let  opciones_medio_colocacion of  opciones_medio_colocacion" class="form-check">
      <input 
        type="radio" 
        class="form-check-input" 
        [value]=" opciones_medio_colocacion" 
        [(ngModel)]="usuario.medio_colocacion" 
        name=" medio_colocacion" 
        id="{{  opciones_medio_colocacion }}" 
        required>
      <label class="form-check-label" [for]=" opciones_medio_colocacion">{{  opciones_medio_colocacion }}</label>
    </div>
  </div>

  <!-- Mensaje de error -->
  <div *ngIf="!usuario.medio_colocacion && usuarioForm.submitted" class="text-danger">
    La pregunta es obligatoria.
  </div>
</fieldset>



<!-- LOCALIDAD DEL EMPLEO -->
 <fieldset class="form-group">
  <legend class="col-form-label">LOCALIDAD DEL EMPLEO</legend>
  <div class="col-sm-12">
    <div *ngFor="let  opciones_localidad_empleo of opciones_localidad_empleo" class="form-check">
      <input 
        type="radio" 
        class="form-check-input" 
        [value]=" opciones_localidad_empleo" 
        [(ngModel)]="usuario.localidad_empleo" 
        name=" localidad_empleo" 
        id="{{  opciones_localidad_empleo}}" 
        required>
      <label class="form-check-label" [for]=" opciones_localidad_empleo">{{  opciones_localidad_empleo }}</label>
    </div>
  </div>

  <!-- Mensaje de error -->
  <div *ngIf="!usuario.localidad_empleo && usuarioForm.submitted" class="text-danger">
    La pregunta es obligatoria.
  </div>
</fieldset>


<!-- DOMICILIO DE LA EMPRESA (CALLE, COLONIA, NUMERO, MUNICIPIO, ESTADO) -->
 <fieldset class="form-group">
  <div class="col-sm-12">
    <label class="control-label" for="domicilio_empresa">DOMICILIO DE LA EMPRESA (CALLE, COLONIA, NUMERO, MUNICIPIO, ESTADO)    </label>
    <input 
      type="text" 
      class="form-control" 
      required 
      [(ngModel)]="usuario.domicilio_empresa" 
      name="sugerencias" 
      (ngModelChange)="convertirAMayusculas()" 
      [ngModelOptions]="{standalone: true}"
      #nombre="ngModel" 
      pattern="^[a-zA-Z\s\1-9]*$">
  </div>
</fieldset>


<!-- TIEMPO DE COLOCACIÓN -->
<fieldset class="form-group">
  <legend class="col-form-label">TIEMPO DE COLOCACIÓN</legend>
  <div class="col-sm-12">
    <div *ngFor="let  opciones_tiempo_colocacion of opciones_tiempo_colocacion" class="form-check">
      <input 
        type="radio" 
        class="form-check-input" 
        [value]=" opciones_tiempo_colocacion" 
        [(ngModel)]="usuario.tiempo_colocacion" 
        name="tiempo_colocacion" 
        id="{{opciones_tiempo_colocacion}}" 
        required>
      <label class="form-check-label" [for]=" opciones_tiempo_colocacion">{{  opciones_tiempo_colocacion }}</label>
    </div>
  </div>

  <!-- Mensaje de error -->
  <div *ngIf="!usuario.tiempo_colocacion && usuarioForm.submitted" class="text-danger">
    La pregunta es obligatoria.
  </div>
</fieldset>


<!-- TIPO DE ORGANIZACIÓN -->
<fieldset class="form-group">
  <legend class="col-form-label">TIPO DE ORGANIZACIÓN</legend>
  <div class="col-sm-12">
    <div *ngFor="let  opciones_tipo_organizacion of opciones_tipo_organizacion" class="form-check">
      <input 
        type="radio" 
        class="form-check-input" 
        [value]=" opciones_tipo_organizacion" 
        [(ngModel)]="usuario.tipo_organizacion" 
        name="tipo_organizacion" 
        id="{{opciones_tipo_organizacion}}" 
        required>
      <label class="form-check-label" [for]=" opciones_tipo_organizacion">{{  opciones_tipo_organizacion }}</label>
    </div>
  </div>

  <!-- Mensaje de error -->
  <div *ngIf="!usuario.tipo_organizacion && usuarioForm.submitted" class="text-danger">
    La pregunta es obligatoria.
  </div>
</fieldset>








</div>

      <!-- TERMINA FORMULARIO DE SI TRABAJA -->


  
  









      <!-- Submit Button -->
      <br>
      <fieldset class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary" [disabled]="!usuarioForm.form.valid">Submit</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
